{% extends "base.html" %}
{% load static %} 
{% block content %} 
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
    <style>
        body {
            font-family: 'Taviraj';
            font-size: 22px;
        }
    </style>
</head>

<body>
    <font size="5"><a href="{% url 'home' %}">Back to LandingPage</a></font>
    <h1 style="text-align:center; border:2px solid Tomato;"><strong>How <span style="color:tomato">PlattsMeet</span>
            Began</strong></h1>
    <p style="text-align:center;">PlattsMeet started as a Software Design Studio project by four SUNY Plattsburgh
        students. We were two international students and two transfer students, so we understood the difficulties of
        meeting new people at a new school. Developing under the constraints of the Covid-19 pandemic, we realized that
        a central social media hub tied directly to SUNY Plattsburgh was needed more than ever. When all classes were
        online and all club activities put on hold or held over zoom, it was especially difficult to meet classmates,
        make new friends, and build lasting connections.</p>
    <hr>
    <h2 style="text-align:center;border:2px solid Tomato;"><strong>Our Mission</strong></h2>
    <p style="text-align:center;">We want students at SUNY Plattsburgh to have an easy way to meet, talk, and connect.
        Finding like-minded people, making friends, discovering new activities, joining clubs, and creating study groups
        are all a big part of college life. PlattsMeet aims to facilitate these endeavors by centralizing services
        performed by many other social media sites into one safe and easily accessible site built only for students!</p>

</body>

</html>
{% endblock content %}