<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
     <h1 style="text-align:center; border:30px solid Crimson;"> </h1>
     <p><img src="https://i.ibb.co/wW82yP5/PM.png" height="200" width="200" alt="Logo" /></p>
    {% block content %}
      <h1>Forgot your password?</h1>
      <p>Enter your Plattsburgh email below, and we'll email instructions for setting a new one.</p>
      <form method="POST">
       {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" value="Send">
       </form>
    {% endblock %}
	  <h1 style="text-align:center; border:2px solid Crimson;"> </h1>
  </body>
</html>
