{% extends "base.html" %}
{% load static %} 
{% block content %} 
<!DOCTYPE html>
<html>
    </head>
        <title>PlattsMeet Registration Form</title>


    </head> 


    </body>

        <center>
            <h3>PlattsMeet Registration</h3>

            <form action="" method="">

                <table>
                    <tr>
                       <td>SUNY Plattsburgh Email</td>
                       <td>
                           <input type="text" name="mail">
                       </td>
                    </tr>

                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="Password" name="User_pass">
                        </td>
                    </tr>

                    <tr>
                        <td>Confirm Password</td>
                        <td>
                            <input type="Password" name="User_pass">
                        </td>
                    </tr>

                    <tr>
                        <td>Class Year</td>
                        <td>
                            <input type="radio" name="Class Year">Freshman
                            <input type="radio" name="Class Year">Sophomore
                            <input type="radio" name="Class Year">Junior
                            <input type="radio" name="Class Year">Senior
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" name="submit" value="Register">

                        </td>
                    </tr>
                
                </table>
            </form>




        </center>
    
    </body>
</html>
{% endblock content %}